// default colors
$white: #fff !default;
$black: #000000 !default;
$grey: #888 !default;
$grey-light: #ddd !default;
$grey-dark: #323232 !default;

// breakpoints
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1400px !default;
